<% include ./partials/header %>


<div class="ui container main">
    <div class="ui grid">
        <div class="ui six wide centered column segment">
            <div class="ui center aligned header">
                <h3><i class="sign in alternate icon"></i>Log in</h1>
            </div>
            <form class="ui form" action="/login" method="POST">
                <div class="field">
                    <label>Username</label>
                    <input type="text" name="username" placeholder="username"></input>
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="password"></input>
                </div>
                <button class="ui button" type="submit">Submit</button>
            </form>
            <div class="ui right aligned basic segment">
                Don't have an account? <a href="/register">Sign up</a>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>