<% include ./partials/header %>


<div class="ui container main">
    <div class="ui grid">
        <div class="ui six wide centered column segment">
            <div class="ui center aligned header">
                <h3>Sign up to share your tools</h1>
            </div>
            <form class="ui form" action="/register" method="POST">
                <div class="field">
                    <label>Username</label>
                    <input type="text" name="username" placeholder="username"></input>
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="password"></input>
                </div>
                <button class="ui button" type="submit">Submit</button>
            </form>
            <div class="ui right aligned basic segment">
                Already have an account? <a href="/login">Log in</a>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>